* {
	box-sizing: border-box;
}
body {
	font-family: 'Inter', sans-serif;
}
.App {
  width: 1150px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-weight: 600;
}
.search {
  margin-right: 70px;
}
.search > img {
  margin-right: 15px;
}
.search > span {
  opacity: 0.5;
}

.head-nav {
  display: flex;
  justify-content: space-between;
}

.head-nav > ul {
  display: flex;
  list-style: none;
}

.head-nav > ul > li {
  margin-right: 25px;
  margin-top: -10px;
  cursor: pointer;
}

.title-slide {
  background-color: #ffffffc4;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.title-text > h1 {
  font-size: 50px;
}
.title-text {
  width: 360px;
  padding: 60px 0 20px 60px;
}
.title-text > p {
  font-size: 25px;
  color: grey;
  margin-top: -60px;
}
.title-text > img {
  position: relative;
  top: -110px;
  left: 160px;
}

.long-slide {
  width: 1000px;
  height: 245px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  border: 2px solid lightgray;
  border-radius: 2px;
}
.long-slide-one {
  width: 515px;
  padding: 15px;
}
.long-slide-one > p {
  color: gray;
}
.long-slide-one > h2 {
  font-size: 30px;
}
.long-slide-two {
  width: 420px;
}
.read-more {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  color: gray;
  font-size: 15px;
}
.read-more > a {
  text-decoration: none;
  margin-top: 10px;
  color: black;
  font-weight: 600;
}

.cards {
  width: 965px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 300px;
  box-shadow: 0 0 20px 0 ;
}
.card > b {
  font-size: 20px;
  padding: 5px;
}
.card > p {
  font-size: 15px;
  color: gray;
  padding: 5px;
}
.card > img {
  width: 100%;
}
.card > .read-more {
  padding: 5px;
}

.foot-slide {
  width: 965px;
  margin: 30px auto;
  display: flex;
  background-color: #f0f5faea;
}

.foot-slide-text {
  padding: 70px 15px 0 15px;
}

.foot-slide-text > h1 {
  font-size: 40px;
}
.foot-slide-text > p {
  color: gray;
}

.content > button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 2px;
  background-color: purple;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  top: 10px;
  left: 960px;
}

.content > button:hover {
  background-color: #fff;
  color: black;
  border: 1px solid black;
  transition: 0.35s;
}

footer {
  width: 100%;
  margin: 40px auto;
}
footer > hr {
  margin-top: 120px;
  opacity: 0.5;
}
.footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.foot-logos > img {
  margin-right: 50px;
}